# Strategic Thinking for Data Analysis - CA1

### Data Source

The source of the datasets is Kaggle, which provides public datasets for analysis. Two datasets generated from photovoltaic energy generation and temperature sensor data from two solar plants in India will be used. These datasets contain 34 days of generation data from the year 2020.

**Dataset names:** Plant_1_Generation_Data, Plant_1_Weather_Data, Plant_2_Generation database and Plant_2_Weather_Data


### Variable Identification
#### Generation data
- DATE_TIME - Date and time for each observation. Observations recorded at 15 minute intervals.
- PLANT_ID - Plant ID number.
- INVERTER - Inverter id.
- DC_POWER - Amount of DC power generated by the Inverter in this 15 minute interval (kW).
- AC_POWER - Amount of AC power generated by the Inverter in this 15 minute interval (kW).
- DAILY_YIELD - Daily yield is a cumulative sum of power generated on that day, till that point in time.
- TOTAL_YIELD - This is the total yield for the inverter till that point in time.

#### Tempearture and Solar Irradiation data
- DATE_TIME - Date and time for each observation. Observations recorded at 15 minute intervals.
- Plant ID - this will be common for the entire file.
- SENSOR - Stands for the sensor panel id.
- AMBIENT_TEMPERATURE - This is the ambient temperature at the plant.
- MODULE_TEMPERATURE - There is a module (solar panel) attached to the sensor panel. This is the temperature reading for that module.
- IRRADIATION - Amount of irradiation for the 15 minute interval.

### Library Import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# Data Preparation

### Datasets Reading

In [2]:
# Loading the Generation Data set 1
df1_gen = pd.read_csv('Plant_1_Generation_Data.csv')
df1_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  object
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.7+ MB

In [3]:
# Loading the Weather Data set 1
df1_wth = pd.read_csv('Plant_1_Weather_Sensor_Data.csv')
df1_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   object
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 149.3+ KB

In [4]:
# Loading the Generation Data set 2
df2_gen = pd.read_csv('Plant_2_Generation_Data.csv')
df2_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  object
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.6+ MB

In [5]:
# Loading the Weather Data set 2
df2_wth = pd.read_csv('Plant_2_Weather_Sensor_Data.csv')
df2_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3259 entries, 0 to 3258
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3259 non-null   object
 1   PLANT_ID             3259 non-null   int64
 2   SOURCE_KEY           3259 non-null   object
 3   AMBIENT_TEMPERATURE  3259 non-null   float64
 4   MODULE_TEMPERATURE   3259 non-null   float64
 5   IRRADIATION          3259 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 152.9+ KB

### Converting the 'DATE_TIME' column to datetime type

In [6]:
df1_gen['DATE_TIME'] = pd.to_datetime(df1_gen['DATE_TIME'])
df1_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68778 entries, 0 to 68777
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    68778 non-null  datetime64[ns]
 1   PLANT_ID     68778 non-null  int64
 2   SOURCE_KEY   68778 non-null  object
 3   DC_POWER     68778 non-null  float64
 4   AC_POWER     68778 non-null  float64
 5   DAILY_YIELD  68778 non-null  float64
 6   TOTAL_YIELD  68778 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 3.7+ MB

In [7]:
df2_gen['DATE_TIME'] = pd.to_datetime(df2_gen['DATE_TIME'])
df2_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67698 entries, 0 to 67697
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE_TIME    67698 non-null  datetime64[ns]
 1   PLANT_ID     67698 non-null  int64
 2   SOURCE_KEY   67698 non-null  object
 3   DC_POWER     67698 non-null  float64
 4   AC_POWER     67698 non-null  float64
 5   DAILY_YIELD  67698 non-null  float64
 6   TOTAL_YIELD  67698 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 3.6+ MB

In [8]:
df1_wth['DATE_TIME'] = pd.to_datetime(df1_wth['DATE_TIME'])
df1_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3182 entries, 0 to 3181
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3182 non-null   datetime64[ns]
 1   PLANT_ID             3182 non-null   int64
 2   SOURCE_KEY           3182 non-null   object
 3   AMBIENT_TEMPERATURE  3182 non-null   float64
 4   MODULE_TEMPERATURE   3182 non-null   float64
 5   IRRADIATION          3182 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 149.3+ KB

In [9]:
df2_wth['DATE_TIME'] = pd.to_datetime(df2_wth['DATE_TIME'])
df2_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3259 entries, 0 to 3258
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            3259 non-null   datetime64[ns]
 1   PLANT_ID             3259 non-null   int64
 2   SOURCE_KEY           3259 non-null   object
 3   AMBIENT_TEMPERATURE  3259 non-null   float64
 4   MODULE_TEMPERATURE   3259 non-null   float64
 5   IRRADIATION          3259 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 152.9+ KB

### Concatenating the two Generation Data Sets

In [10]:
# axis=0 to concatenate along the rows (stack vertically)
# ignore_index=True to reset the indices of the resulting DataFrame
df_gen = pd.concat([df1_gen, df2_gen], axis=0, ignore_index=True)

### Concatenating the two Weather Data Sets

In [11]:
# axis=0 to concatenate along the rows (stack vertically)
# ignore_index=True to reset the indices of the resulting DataFrame
df_wth = pd.concat([df1_wth, df2_wth], axis=0, ignore_index=True)

###  Generation Data Sets Info

In [12]:
df_gen.shape

(136476, 7)

In [13]:
df_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136476 entries, 0 to 136475
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE_TIME    136476 non-null  datetime64[ns]
 1   PLANT_ID     136476 non-null  int64
 2   SOURCE_KEY   136476 non-null  object
 3   DC_POWER     136476 non-null  float64
 4   AC_POWER     136476 non-null  float64
 5   DAILY_YIELD  136476 non-null  float64
 6   TOTAL_YIELD  136476 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 7.3+ MB

###  Weather Data Sets Info

In [14]:
df_wth.shape

(6441, 6)

In [15]:
df_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6441 entries, 0 to 6440
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            6441 non-null   datetime64[ns]
 1   PLANT_ID             6441 non-null   int64
 2   SOURCE_KEY           6441 non-null   object
 3   AMBIENT_TEMPERATURE  6441 non-null   float64
 4   MODULE_TEMPERATURE   6441 non-null   float64
 5   IRRADIATION          6441 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 302.0+ KB

### Checking for Null values

In [16]:
df_gen.isnull().sum()

DATE_TIME      0
PLANT_ID       0
SOURCE_KEY     0
DC_POWER       0
AC_POWER       0
DAILY_YIELD    0
TOTAL_YIELD    0
dtype: int64

In [17]:
df_wth.isnull().sum()

DATE_TIME              0
PLANT_ID               0
SOURCE_KEY             0
AMBIENT_TEMPERATURE    0
MODULE_TEMPERATURE     0
IRRADIATION            0
dtype: int64

### Variable adjustment

### Changing the variable name

In [18]:
df_gen = df_gen.rename(columns={'SOURCE_KEY':'INVERTER'})
df_wth = df_wth.rename(columns={'SOURCE_KEY':'SENSOR'})

### Changing the variable type

### Function imprimir_valores_unicos()
A function that prints the unique values of each variable.

In [19]:
def imprimir_valores_unicos(data_f):
    for coluna in data_f.columns:
        valores_unicos = data_f[coluna].unique()
        print(f"  {coluna} = {valores_unicos}")

In [20]:
imprimir_valores_unicos(df_gen)

  DATE_TIME = <DatetimeArray>
['2020-05-15 00:00:00', '2020-05-15 00:15:00', '2020-05-15 00:30:00',
 '2020-05-15 00:45:00', '2020-05-15 01:00:00', '2020-05-15 01:15:00',
 '2020-05-15 01:30:00', '2020-05-15 01:45:00', '2020-05-15 02:00:00',
 '2020-05-15 02:15:00',
 ...
 '2020-05-29 04:15:00', '2020-05-29 04:30:00', '2020-05-29 04:45:00',
 '2020-05-29 05:00:00', '2020-05-29 05:15:00', '2020-05-29 05:30:00',
 '2020-05-29 05:45:00', '2020-05-29 06:00:00', '2020-06-17 06:15:00',
 '2020-06-17 06:30:00']
Length: 3263, dtype: datetime64[ns]
  PLANT_ID = [4135001 4136001]
  INVERTER = ['1BY6WEcLGh8j5v7' '1IF53ai7Xc0U56Y' '3PZuoBAID5Wc2HD' '7JYdWkrLSPkdwr4'
 'McdE0feGgRqW7Ca' 'VHMLBKoKgIrUVDU' 'WRmjgnKYAwPKWDb' 'ZnxXDlPa8U1GXgE'
 'ZoEaEvLYb1n2sOq' 'adLQvlD726eNBSB' 'bvBOhCH3iADSZry' 'iCRJl6heRkivqQ3'
 'ih0vzX44oOqAx2f' 'pkci93gMrogZuBj' 'rGa61gmuvPhdLxV' 'sjndEbLyjtCKgGv'
 'uHbuxQJl8lW7ozc' 'wCURE6d3bPkepu2' 'z9Y9gH1T5YWrNuG' 'zBIq5rxdHJRwDNY'
 'zVJPv84UY57bAof' 'YxYtjZvoooNbGkE' '4UPUqMRk7TRMgml' '81aHJ1q11NBPMrL'
 '9kRcWv60rDACzjR' 'Et9kgGMDl729KT4' 'IQ2d7wF4YD8zU1Q' 'LYwnQax7tkwH5Cb'
 'LlT2YUhhzqhg5Sw' 'Mx2yZCDsyf6DPfv' 'NgDl19wMapZy17u' 'PeE6FRyGXUgsRhN'
 'Qf4GUc1pJu5T6c6' 'Quc1TzYxW2pYoWX' 'V94E5Ben1TlhnDV' 'WcxssY2VbP4hApt'
 'mqwcsP2rE7J0TFp' 'oZ35aAeoifZaQzV' 'oZZkBaNadn6DNKz' 'q49J1IKaHRwDQnt'
 'rrq4fwE8jgrTyWY' 'vOuJvMaM2sgwLmb' 'xMbIugepa2P7lBB' 'xoJJ8DcxJEcupym']
  DC_POWER = [ 0.         37.14285714 53.5        ...  3.78        3.58
  3.90714286]
  AC_POWER = [0.         3.58571429 5.1625     ... 3.63333333 3.45333333 3.75714286]
  DAILY_YIELD = [0.00000000e+00 2.62500000e+00 3.00000000e+00 ... 4.21800000e+03
 4.31600000e+03 4.12842857e+03]
  TOTAL_YIELD = [6.25955900e+06 6.18364500e+06 6.98775900e+06 ... 1.06896394e+08
 2.09335741e+08 2.46395964e+06]

In [21]:
imprimir_valores_unicos(df_wth)

  DATE_TIME = <DatetimeArray>
['2020-05-15 00:00:00', '2020-05-15 00:15:00', '2020-05-15 00:30:00',
 '2020-05-15 00:45:00', '2020-05-15 01:00:00', '2020-05-15 01:15:00',
 '2020-05-15 01:30:00', '2020-05-15 01:45:00', '2020-05-15 02:00:00',
 '2020-05-15 02:15:00',
 ...
 '2020-05-29 03:45:00', '2020-05-29 04:00:00', '2020-05-29 04:15:00',
 '2020-05-29 04:30:00', '2020-05-29 04:45:00', '2020-05-29 05:00:00',
 '2020-05-29 05:15:00', '2020-05-29 05:30:00', '2020-05-29 05:45:00',
 '2020-05-29 06:00:00']
Length: 3262, dtype: datetime64[ns]
  PLANT_ID = [4135001 4136001]
  SENSOR = ['HmiyD2TTLFNqkNe' 'iq8k7ZNt4Mwm3w0']
  AMBIENT_TEMPERATURE = [25.18431613 25.08458867 24.9357526  ... 23.35474259 23.29104823
 23.20287069]
  MODULE_TEMPERATURE = [22.8575074  22.76166787 22.59230553 ... 22.49224531 22.37390857
 22.53590766]
  IRRADIATION = [0.         0.00086272 0.00588696 ... 0.02214994 0.01339319 0.002635  ]

In [29]:
df_gen

,DATE_TIME,PLANT_ID,INVERTER,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
0,2020-05-15 00:00:00,4135001,1BY6WEcLGh8j5v7,0.0,0.0,0.0,6259559.0
1,2020-05-15 00:00:00,4135001,1IF53ai7Xc0U56Y,0.0,0.0,0.0,6183645.0
2,2020-05-15 00:00:00,4135001,3PZuoBAID5Wc2HD,0.0,0.0,0.0,6987759.0
3,2020-05-15 00:00:00,4135001,7JYdWkrLSPkdwr4,0.0,0.0,0.0,7602960.0
4,2020-05-15 00:00:00,4135001,McdE0feGgRqW7Ca,0.0,0.0,0.0,7158964.0
...,...,...,...,...,...,...,...
136471,2020-06-17 23:45:00,4136001,q49J1IKaHRwDQnt,0.0,0.0,4157.0,520758.0
136472,2020-06-17 23:45:00,4136001,rrq4fwE8jgrTyWY,0.0,0.0,3931.0,121131356.0
136473,2020-06-17 23:45:00,4136001,vOuJvMaM2sgwLmb,0.0,0.0,4322.0,2427691.0
136474,2020-06-17 23:45:00,4136001,xMbIugepa2P7lBB,0.0,0.0,4218.0,106896394.0
136475,2020-06-17 23:45:00,4136001,xoJJ8DcxJEcupym,0.0,0.0,4316.0,209335741.0

In [30]:
df_wth

,DATE_TIME,PLANT_ID,SENSOR,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,4135001,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
1,2020-05-15 00:15:00,4135001,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2,2020-05-15 00:30:00,4135001,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
3,2020-05-15 00:45:00,4135001,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
4,2020-05-15 01:00:00,4135001,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...
6436,2020-06-17 22:45:00,4136001,iq8k7ZNt4Mwm3w0,23.511703,22.856201,0.0
6437,2020-06-17 23:00:00,4136001,iq8k7ZNt4Mwm3w0,23.482282,22.744190,0.0
6438,2020-06-17 23:15:00,4136001,iq8k7ZNt4Mwm3w0,23.354743,22.492245,0.0
6439,2020-06-17 23:30:00,4136001,iq8k7ZNt4Mwm3w0,23.291048,22.373909,0.0
6440,2020-06-17 23:45:00,4136001,iq8k7ZNt4Mwm3w0,23.202871,22.535908,0.0

In [24]:
df_gen.describe()

,DATE_TIME,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD
count,136476,1.364760e+05,136476.000000,136476.000000,136476.000000,1.364760e+05
mean,2020-06-01 09:23:03.157478144,4.135497e+06,1708.541497,274.803511,3295.433783,3.303821e+08
min,2020-05-15 00:00:00,4.135001e+06,0.000000,0.000000,0.000000,0.000000e+00
25%,2020-05-23 23:00:00,4.135001e+06,0.000000,0.000000,28.321429,6.520020e+06
50%,2020-06-01 18:45:00,4.135001e+06,6.050000,3.506905,2834.803572,7.269333e+06
75%,2020-06-09 21:45:00,4.136001e+06,1155.788333,532.673333,5992.000000,2.826096e+08
max,2020-06-17 23:45:00,4.136001e+06,14471.125000,1410.950000,9873.000000,2.247916e+09
std,NaN,4.999862e+02,3222.181273,380.182569,3035.294425,6.085705e+08

In [25]:
df_wth.describe()

,DATE_TIME,PLANT_ID,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
count,6441,6.441000e+03,6441.000000,6441.000000,6441.000000
mean,2020-06-01 02:56:23.837913344,4.135507e+06,26.815672,31.941762,0.230551
min,2020-05-15 00:00:00,4.135001e+06,20.398505,18.140415,0.000000
25%,2020-05-23 17:15:00,4.135001e+06,23.662696,22.429024,0.000000
50%,2020-06-01 05:00:00,4.136001e+06,25.954460,26.394380,0.022282
75%,2020-06-09 14:30:00,4.136001e+06,29.355584,40.821388,0.443340
max,2020-06-17 23:45:00,4.136001e+06,39.181638,66.635953,1.221652
std,NaN,5.000031e+02,3.938901,11.835033,0.306877

In [26]:
df_gen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136476 entries, 0 to 136475
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE_TIME    136476 non-null  datetime64[ns]
 1   PLANT_ID     136476 non-null  int64
 2   INVERTER     136476 non-null  object
 3   DC_POWER     136476 non-null  float64
 4   AC_POWER     136476 non-null  float64
 5   DAILY_YIELD  136476 non-null  float64
 6   TOTAL_YIELD  136476 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 7.3+ MB

In [27]:
df_wth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6441 entries, 0 to 6440
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            6441 non-null   datetime64[ns]
 1   PLANT_ID             6441 non-null   int64
 2   SENSOR               6441 non-null   object
 3   AMBIENT_TEMPERATURE  6441 non-null   float64
 4   MODULE_TEMPERATURE   6441 non-null   float64
 5   IRRADIATION          6441 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 302.0+ KB